:root {
    --bg-primary: #ffff;
    --bg-secondary: #F1F3FF;
    --bg-accent: #0D28A6;

    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --accent-color: #5CB85F;
    --form-color: #4A505C;
    
    --border-color: #D0D0D0;

    --btn-primary: #5CB85F;

    --font-title: 36px;
    --font-subtitle: 24px;
    --font-paragraph: 15px;

    --font-weight-bold: 700;
}

body {
    font-family: Helvetica;
}

p {
    font-size: var(--font-paragraph);
}

.mt-4 {
    margin-top: 20px;
}

.nav-fonts,
.text-paragraph {
    font-size: var(--font-paragraph);
}

.text-title {
    font-size: var(--font-title);
}

.bg-home {
    background-color: var(--bg-secondary);
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    width: 70%;
}

.navbar-toggler {
    border: none;
}

.car-logo {
    width: 46px;
    position: absolute;
    top: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.list-services .text-paragraph {
    margin: 10px 0;
    list-style: none;
}

.why-us-card {
    border: 1px solid var(--border-color);
    height: 100%;
    border-radius: 8px;
    padding: 16px 14px;
}

.why-us-card h5 {
    font-weight: var(--font-weight-bold);
}

.splide__arrow.splide__arrow--prev {
    left: 45%;
    top: 20em;
}

.splide__arrow.splide__arrow--next {
    right: 45%;
    top: 20em;
}

.user-testimonials {
    background-color: var(--bg-secondary);
    max-width: 619px;
    height: 100%;
}

.user-testimonials-mobile {
    background-color: var(--bg-secondary);
    padding: 43px 20px;
    border-radius: 8px;
}

.splide__arrow:hover:not(:disabled) {
    background-color: var(--btn-primary);
}

.splide__arrow svg:hover {
    fill: var(--secondary-color);
}

.our-service-content, .why-us-content, .testimonial-content, .faq-content, .footer-content {
    padding-top: 5rem;
}

.card-banner-content {
    padding-top: 15rem;
}

.card-banner-wrapper {
    background-color: var(--bg-accent);
    color: var(--secondary-color);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem 6rem;
}

.card-banner-button {
    margin-top: 16px;
}

.faq-text .faq-title {
    font-size: var(--font-subtitle);
    font-weight: var(--font-weight-bold);
}

.faq-text, .faq-paragraph {
    font-size: var(--font-paragraph);
}

.accordion-item {
    margin: 10px 0;
}

.accordion-button {
    border-radius: 4px;
}

.login-banner {
    background-color: var(--bg-accent);
    height: 100vh;
}

.login-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-login-title h3 {
    font-size: var(--font-title);
}

.card-login-title p {
    font-size: var(--font-paragraph);
    color: var(--form-color);
    font-weight: 400;
}

.login-form label {
    color: var(--form-color);
    font-weight: 600;
}

.login-form input::placeholder {
    font-size: var(--font-paragraph);
    color: gray;
}

.button-login {
    background-color: var(--btn-primary);
    border: none;
    padding: 7px;
    width: 100%;
    color: var(--secondary-color);
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    border-radius: 4px;
}

.button-login-google {
    border: none;
    padding: 7px;
    width: 100%;
    color: var(--primary-color);
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    border-radius: 4px;
}

.text-or {
    color: var(--form-color);
}

.login-content .fa-eye, .fa-eye-slash {
    position: absolute;
    top: 52%;
    right: 7%;
    cursor: pointer;
    color: lightgray;
}

.register-form .fa-eye {
    position: absolute;
    top: 57.5%;
    right: 7%;
    cursor: pointer;
    color: lightgray;
}

.login-content .card {
    width: 38%;
}

.connect-us-icons {
    display: flex;
    gap: 4%;
}

.card-list-cars {
    padding: 24px;
}

/* -------------- MEDIA QUERIES ---------------- */

@media (max-width: 1025px) {
    .splide__arrow.splide__arrow--prev {
        left: 40%;
        top: 26em;
    }
    
    .splide__arrow.splide__arrow--next {
        right: 40%;
        top: 26em;
    }
}

@media (max-width: 991px) {
    .list-services{
        padding-left: 20px;
    }    

    .splide__arrow.splide__arrow--prev {
        left: 29%;
        top: 26em;
    }
    
    .splide__arrow.splide__arrow--next {
        right: 31%;
        top: 26em;
    }

    .card-banner-content {
        padding-top: 6rem;
    }

    .card-banner-wrapper {
        padding: 3rem 1rem;
    }

    .faq-text {
        text-align: center;    
    }

    .login-content .card {
        width: 100%;
    }
}

@media (max-width: 431px) {
    .splide__arrow.splide__arrow--prev, .splide__arrow.splide__arrow--next {
        top: 30em;
    }
}

@media (max-width: 415px) {
    .splide__arrow.splide__arrow--prev, .splide__arrow.splide__arrow--next {
        top: 31em;
    }
}

@media (max-width: 376px) {
    .splide__arrow.splide__arrow--prev, .splide__arrow.splide__arrow--next {
        top: 32em;
    }
}

@media (min-width: 991px) {
    .container-auth.container {
        max-width: 100%;
        padding: 0;
    }
}
